<form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Batman">
      </div>
      <div class="form-group col-md-6">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" placeholder="Gotham">
      </div>
    </div>
    <div class="form-group">
      <label for="genre">Genre</label>
      <input type="text" class="form-control" id="genre" placeholder="Fantastic">
    </div>
    <div class="form-group">
      <label for="rating">Rating</label>
      <input type="number" class="form-control" id="rating" placeholder="9">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="imageUrl">Image Url</label>
        <input type="text" class="form-control" id="imageUrl">
      </div>
      <div class="form-group col-md-4">
        <label for="videoUrl">Video Url</label>
        <input type="text" id="videoUrl" class="form-control">
      </div>      
    </div>
    <button type="submit" class="btn btn-primary"></button>
  </form>
