 #rateEl {
    display: flex;
    justify-content: center;
  }
  
  #rateContainer {
    text-align: -webkit-center;
  }
  
  #detailContainer {
    width: 100%;
    height: 820px;
    text-align: center;
    margin: auto;
    background-color: black;
  }
  ngb-rating {
    color: #FFC107;
    font-size: 80px;
}

.card-body{
  color: rgb(91, 18, 18);
}

#give-stars{
  color: brown;
  text-align: start;
}

.card-text{
  font-size: 40px;
}
.card-title{
  font-size: 60px;
}


  
 